body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #c6f8ff;
  }
  
   #email {
    padding: 50px; 
    margin-top: 50px;
    width: 500px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: #de9b89;
  }
  
  #confidential, #top-secret {
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    border: 2px solid #ff0000;
    transform: rotate(-10deg);
  }
  
  .blurred {
    filter: blur(3px);
  }